<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Chaouki Amanda 2017. All right reserved. </p>
            <div class="pull-right">

            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
</body>
</html>